h3{
  font-family: 'Margarine', cursive;
}
app-quote-details{
  font-family: 'ZCOOL XiaoWei', serif;
}
blockquote{
  quotes: "“" "”";
  
}

blockquote:before{
  content: open-quote;  
}
blockquote:after{
  content: close-quote;
}