h3{
  font-family: 'Margarine', cursive;
}
app-quote-details{
  font-family: 'ZCOOL XiaoWei', serif;
}
blockquote{
  padding-left: 1rem;
}
/* blockquote{
  quotes: "“" "”";  
}
blockquote:before{
  content: open-quote;  
}
blockquote:after{
  content: close-quote;
} */
.btn-outline-success{
  margin-left: 75%;
  margin-right:5%;
  padding: 0.6rem;
  color: #000000;
  border-color: #d3d3d3;  
}
.btn-outline-success:hover{
  background-color:  #d3d3d3;
}
button{
  float: left;
}