h3{
  font-family: 'Margarine', cursive;
}
app-quote-details{
  font-family: 'ZCOOL XiaoWei', serif;
}
blockquote{
  padding-left: 1rem;
}
/* blockquote{
  quotes: "“" "”";  
}
blockquote:before{
  content: open-quote;  
}
blockquote:after{
  content: close-quote;
} */
.btn-outline-success{
  margin-left: 42%;
  margin-right:42%;
  padding: 1rem;
  
}
button{
  float: left;
}