.container-fluid{
  padding: 0 2rem 0 2rem;
}
form{
  background-image: url('/assets/images/good-thoughts.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80rem;
  padding: 1rem;
  color: azure;
  font-size: 1.5rem;
}
.form-group label{ 
  text-decoration: underline;
}
.card-body{
  margin-block-end: 2rem;
}