<div class="container-fluid">
  <div class="card card-title shadow p-3 mb-5">
    <h3>Share your favorite quotes below <img src="https://img.icons8.com/material/24/000000/filled-star-filled.png" width="30"></h3>
  </div>
  <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' class="shadow p-3 mb-5">
            <div class="form-group">
                <label for="quote">Enter quote</label>
                <textarea class="form-control" id="quote" [(ngModel)]="newQuote.name" name="name" #name=ngModel required></textarea>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  <p>Fill in Quote to submit!</p>
                </div>
            </div>
            <!-- Display {{newQuote.name}} -->
      
            <div class="form-group">
              <label for="author">Author</label>
              <input type="text" class="form-control" placeholder="Author of quote" id="name" [(ngModel)]="newQuote.details" name="details" #details=ngModel required>
              <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
                <p>Please provide Author of your quote!</p>
              </div>
            </div>

            <div class="form-group">
              <label for="name">Your name</label>
              <input type="text" id="name" class="form-control" placeholder="Type your name" [(ngModel)]="newQuote.user" name="user" #user=ngModel>
            </div>
            
            <div class="form-group">
              <label for="date">Date today</label> 
              <input type="date" id="date" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required> 
              <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p>Date is important!</p>
              </div>  
            </div>

            <button type="submit" class="btn btn-success btn=md">Add Quote</button>
        </form>    
  </div>
</div>
